[Unit]
Description=Download Zypper Updates in the background
Requires=zypper_download.service

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1s
Unit=zypper_download.service

[Install]
WantedBy=timers.target
