[Unit]
Description=Change Wallpaper Periodically
Requires=wallpaper.service

[Timer]
OnCalendar=*-*-* *:00/5:00
AccuracySec=60s
Unit=wallpaper.service

[Install]
WantedBy=timers.target
