[Unit]
Description=Change Wallpaper Periodically
Type=exec

[Service]
ExecStart=python3 $HOME/.local/bin/timed_wallpaper.py $HOME/Pictures/background/

